// colors found from https://github.com/joshdick/onedark.vim
// Thanks!
$onedark-black:         rgb(40, 44, 52);
$onedark-white:         rgb(171, 178, 191);
$onedark-light-red:     rgb(224, 108, 117);
$onedark-dark-red:      rgb(190, 80, 70);
$onedark-green:         rgb(152, 195, 121);
$onedark-light-yellow:  rgb(229, 192, 123);
$onedark-dark-yellow:   rgb(209, 154, 102);
$onedark-blue:          rgb(97, 175, 239);
$onedark-magenta:       rgb(198, 120, 221);
$onedark-cyan:          rgb(86, 182, 194);
$onedark-gutter-grey:   rgb(76, 82, 99);
$onedark-comment-grey:  rgb(92, 99, 112);